<!DOCTYPE html>
<html ng-app='myApp' lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comic Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body ng-controller='StoreController as storeCtrl' class="container-fluid">

    <div class="row">
      <button ng-click='goToPage("suppliers")' class="btn btn-primary col-md-4">Suppliers</button>
      <button ng-click='goToPage("placeOrder")' class="btn btn-primary col-md-4">Place Order</button>
      <button ng-click='goToPage("about")' class="btn btn-primary col-md-4">About</button>
    </div>

    <suppliers-dir></suppliers-dir>
    <div ng-include src="'html/placeOrder.html'" ng-show='activePage === "placeOrder"'></div>
    <div ng-include src="'html/about.html'" ng-show='activePage === "about"'></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <!-- TODO if I add the below script it causes a error -->
    <script type="text/javascript" src="js/directives/suppliersDir.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
  </body>
</html>
