<!DOCTYPE html>
<html ng-app='myApp' lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comic Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body ng-controller='StoreController as storeCtrl' class="container-fluid">

      <div class="row">
        <button ng-click='goToPage("suppliers")' class="btn btn-primary col-md-4">Suppliers</button>
        <button ng-click='goToPage("placeOrder")' class="btn btn-primary col-md-4">Place Order</button>
        <button ng-click='goToPage("about")' class="btn btn-primary col-md-4">About</button>
      </div>

      <!-- ========================== -->

     <div ng-controller="SupplierDeleteCtrl as $ctrl" class="modal-demo">
        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.toggleAnimation()">Toggle Animation ({{ $ctrl.animationsEnabled }})</button>
        <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
    </div>

    <!-- ========================== -->

      <place-order ng-show='activePage === "placeOrder"'></place-order>
      <suppliers-dir ng-controller='SupplierController' ng-show='activePage === "suppliers"'></suppliers-dir>
      <about-page ng-show='activePage === "about"'></about-page>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>


    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <script type="text/javascript" src="js/controllers/supplierController.js"></script>
    <script type="text/javascript" src="js/directives/storeDirectives.js"></script>
    <script type="text/javascript" src="js/services.js"></script>

  </body>
</html>
