<div>
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Edit Supplier</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form novalidate class="simple-form">
      <div class="row">
        <label class="col-md-2">ID: {{$ctrl.supplier.id }}</label>
      </div>
      <div class="row">
        <label class="col-md-2">Name: </label><input class="col-md-6" type="text" ng-model="$ctrl.supplier.name" />
      </div>
      <div class="row">
        <label class="col-md-2">City: </label><input class="col-md-6" type="text" ng-model="$ctrl.supplier.city" />
      </div>
      <div class="row">
        <label class="col-md-2">Reference: </label><input class="col-md-6" type="text" ng-model="$ctrl.supplier.reference" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.editSupplier($ctrl.supplier)">Submit Changes</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</div>
