<div>
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Create Supplier</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form novalidate class="simple-form">
      <div class="row">
        <label class="col-md-3">Name: </label><input class="col-md-4" type="text" ng-model="newSupplier.name" />
      </div>
      <div class="row">
        <label class="col-md-3">City: </label><input class="col-md-4" type="text" ng-model="newSupplier.city" />
      </div>
      <div class="row">
        <label class="col-md-3">Reference: </label><input class="col-md-4" type="text" ng-model="newSupplier.reference" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.submitNewSupplier(newSupplier)">Submit</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</div>
