<!-- Create new Supervisor Popup Modal -->
<div>
</br>
  <div ng-controller="SupplierCreateCtrl as $ctrl">
     <button type="button" class="btn btn-success btn-lg" ng-click="$ctrl.open()">Create New Supplier</button>
  </div>
<div>


<div ng-controller="SupplierController as $ctrl">
  <script type="text/ng-template" id="deleteSupp.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Delete Supplier {{$ctrl.suppId}} ? </h3>
        </div>
        <div class="modal-body" id="modal-body">
            Are you sure ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.deleteSupplierConfirm()">Delete</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
  </div>

<!-- Delete Supplier -->
<div ng-show="busyDeleting">
<h4>Edit Supplier</h4>
  <div ng-hide="busyEditing || !busyDeleting"> Are you sure you want to delete Supervisor {{supplierIdBeingDeleted}} ?</div>
  <button ng-click='deleteSupplierConfirm()' class="btn btn-info">Yes</button>
  <button ng-click='deleteSupplierCancel()' class="btn btn-danger">Cancel</button>
</div>
</br>

<!-- Display Supliers -->
<div class='row'><label class="col-md-1">Search: </label><input class="col-md-4" type="text" ng-model="searchKeyword" /> </div>
</br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Reference</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='supplier in suppliers | startFrom:SuppCurrentPage*SuppPageSize | limitTo:SuppPageSize | filter: searchKeyword'>
      <td >{{supplier.id}}</td>
      <td >{{supplier.name}}</td>
      <td >{{supplier.city}}</td>
      <td >{{supplier.reference}}</td>
      <td >
        <button ng-click='editSupplier(supplier)' class="btn btn-info" ng-hide="busyEditing || busyDeleting">Edit</button>
        <button  ng-click="open(supplier.id)" class="btn btn-danger" ng-hide="busyEditing || busyDeleting">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

    <button class='btn-sm btn' ng-disabled="SuppCurrentPage == 0" ng-click="SuppCurrentPage=SuppCurrentPage-1">
        Previous
    </button>
    {{SuppCurrentPage+1}}/{{numberOfPages()}}
    <button class='btn-sm btn' ng-disabled="SuppCurrentPage >= suppliers.length/SuppPageSize - 1" ng-click="SuppCurrentPage=SuppCurrentPage+1">
        Next
    </button>

<!-- Edit Supplier -->
</br></br>
<h4 ng-show="busyEditing">Edit Supplier</h4>
<div ng-show="busyEditing">
    <form novalidate class="simple-form">
      <div class="row">
        <label class="col-md-1">ID: {{supplierBeingEditedId.id}}</label>
      </div>
      <div class="row">
        <label class="col-md-1">Name: </label><input class="col-md-4" type="text" ng-model="supplierBeingEditedId.name" />
      </div>
      <div class="row">
        <label class="col-md-1">City: </label><input class="col-md-4" type="text" ng-model="supplierBeingEditedId.city" />
      </div>
      <div class="row">
        <label class="col-md-1">Reference: </label><input class="col-md-4" type="text" ng-model="supplierBeingEditedId.reference" />
      </div>
      <div class="row ">
        <button ng-click='submitEditedSupplier(supplierBeingEditedId)' class="btn btn-info" >Submit</button>
        <button ng-click='cancelSupplierEdit()' class="btn btn-danger" >Cancel</button>
      </div>
    </form>
</div>

<!-- temporarily using this for spacing  -->
</br></br></br></br></br></br>
